name: DevSecOps Pipeline

on:
  push:
    branches: ["main"]

jobs:
  unit-test:
    name: Unit Test (pytest)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r dev-requirements.txt

      - name: Run pytest
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          pytest


  sast:
    name: SAST (Bandit)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit
        run: bandit -r app


  sca:
    name: SCA (pip-audit)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install pip-audit
        run: pip install pip-audit

      - name: Run pip-audit
        run: pip-audit -r requirements.txt


  secret-scan:
    name: Secret Scan (Gitleaks)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2


  build-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: [unit-test, sast, sca, secret-scan]

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/notes-app:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/notes-app:${{ github.sha }}


  image-scan:
    name: Image Scan (Trivy)
    runs-on: ubuntu-latest
    needs: build-push

    steps:
      - name: Scan Docker Image
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/notes-app:latest
          severity: HIGH,CRITICAL
          exit-code: 1
